/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
captures
*.class
*.apk
.idea
gradle
gradle.properties
settings.gradle
HomeSport.iml

app/src/main/java/com/tiyujia/homesport/cache/
app/src/main/java/com/tiyujia/homesport/util/AnyncParseJson.java
