<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiyujia.homesport">
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:anyDensity="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.personal.activity.PersonalSystemSetting"/>
        <activity android:name=".common.personal.activity.PersonalSetInfo"/>
        <activity android:name=".common.personal.activity.PersonalFeedback"/>
        <activity android:name=".common.personal.activity.PersonalActive"/>
        <activity android:name=".common.personal.activity.PersonalDynamic"/>
        <activity android:name=".common.personal.activity.PersonalEquipmentShow" />
        <activity android:name=".common.personal.activity.PersonalAttention"/>
        <activity android:name=".common.personal.activity.PersonalFans"/>
        <activity android:name=".common.personal.activity.PersonalPanyanGold"/>
        <activity android:name=".common.homepage.activity.HomePageVenueSurveyActivity"/>
    </application>

</manifest>